<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Server Side JavaScript</h1>

    <ul>
        <% topics.forEach((topic) => { %>
            <li><a href="/topic/<%= topic %>"><%= topic %></a></li>
        <% }) %>
    </ul>
    <article>
        <h2><%= title %></h2>
        <%= content %>
    </article>
</body>
</html>